body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#canvas {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.2);
}

.score {
    margin-left: 400px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}